@{
    string typeTask = ViewBag.TypeTask as string;
}


<h1>Create Custom Task</h1>

<form method ="post" action ="/tasks/create">
   <div>
        <label for="easy">Easy</label>
        <input type="radio" id="easy" name="Difficulty" value="1" checked/>
   </div>
    <div>
        <label for="medium">Medium</label>
        <input type="radio" id="medium" name="Difficulty" value="2" />
    </div>
    <div>
        <label for="hard">Hard</label>
        <input type="radio" id="hard" name="Difficulty" value="3" />
    </div>

    <br />

    <div>
        <label for="daily">Daily</label>
        <input type="radio" id="daily" name="TaskType" value="Daily" checked />
    </div>
    <div>
        <label for="weekly">Weekly</label>
        <input type="radio" id="weekly" name="TaskType" value="Weekly" />
    </div>
    <div>
        <label for="todo">ToDo</label>
        <input type="radio" id="todo" name="TaskType" value="ToDo" />
    </div>
    

    <div>
        <label for="taskname">Task Name:</label>
        <input type="text" id="taskname" name="Title" placeholder ="What is your task called. . ." />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" rows="5" maxlength="255" placeholder="Description" name="Description"></textarea>
    </div>

    <div>
        <label for="category">Choose a Category:</label>

        <select name="Category" id="category">
            <option value="">--Please choose an option--</option>
            <option value="Hygiene">Hygiene</option>
            <option value="Wellness">Wellness</option>
            <option value="Mindfullness">Mindfullness</option>
            <option value="Productivity">Productivity</option>
            <option value="HabitBuilding">HabitBuilding</option>
        </select>
    </div>

    <button type="submit">Create Task</button>
</form>