@model User
@{
    List<DailyTask> dailys = Model.DailyTasks as List<DailyTask>;
    List<WeeklyTask> weeklys = Model.WeeklyTasks as List<WeeklyTask>;
    List<ToDoTask> todos = Model.ToDoTasks as List<ToDoTask>;

}
<h1>Tasks</h1>

<div class="task-lists"
    <div class="daily-tasks">
        <h1>Daily Tasks</h1>
        <ul>
            @foreach(DailyTask task in dailys)
            {
                    <li><a href ="/tasks/@task.Id" onclick="setcookiedaily()">@task.Title</a></li>
            }
        </ul>
    </div>
    <div class="weekly-tasks">
        <h1>weekly Tasks</h1>
        <ul>
            @foreach (WeeklyTask task in weeklys)
            {
                    <li><a href ="/tasks/@task.Id" onclick="setcookieweekly()">@task.Title</a></li>
            }
        </ul>
    </div>
    <div class="Todo's-tasks">
        <h1>Todos</h1>
        <ul>
            @foreach (ToDoTask task in todos)
            {
                    <li><a href ="/tasks/@task.Id" onclick="setcookietodo()">@task.Title</a></li>
            }
        </ul>
    </div>
</div>
<form action="/tasks/new">
    <button>Create Custom Task</button>
</form>

 <script>
     function setcookiedaily(){
         document.cookie = "tasktype=daily"
     }
    function setcookieweekly() {
        document.cookie = "tasktype=weekly"
    }
    function setcookietodo() {
        document.cookie = "tasktype=todo"
    }

</script>