<h1>Tasks</h1>

<div class="daily-tasks">
    <h1>Daily Tasks</h1>
</div>
<div class="weekly-tasks">
    <h1>weekly Tasks</h1>
</div>
<div class="Todo's-tasks">
    <h1>Todos</h1>
</div>

<form action="/tasks/new">
    <button>Create Custom Task</button>
</form>
