html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
  background-color: #C3DBC5;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.vertical-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.vertical-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textblock {
    border: 1px solid #000; /* Black border */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Space between the border and text */
    background-color: #E8DCB9;
    display: inline-block; /* Allows the border to wrap */
}

.table-rounded {
    border-collapse: separate; /* Needed to allow spacing between cells */
    border-spacing: 0; /* No spacing between cells */
    overflow: hidden; /* Ensures inner cells don't spill out of rounded corners */
    border-radius: 10px; /* Rounded corners */
    width: 100%; /* Optional: set table width */
}

    .table-rounded th,
    .table-rounded td {
        background-color: #fff; /* White background for cells */
        border: 1px solid #ddd; /* Light border around cells */
        padding: 10px; /* Adds space inside each cell */
        text-align: center; /* Centers the content in each cell */
    }

.container {
    position: relative; /* Makes the container a positioning context */
    min-height: 100vh; /* Ensures container fills at least the whole viewport */
}

.input-bottom {
    position: absolute; /* Position it relative to the nearest positioned ancestor */
    top: 10%; /* Anchor it to the bottom */
    left: 50%;
    width: 100%; /* Makes it span the entire width */
    transform: translate(-50%, -50%);
}

.scrollable-div {
    width: 100%;
    height: 725px;
    overflow-y: auto;
    /*flex-direction: column-reverse;*/
}

.flex-container {
    display: flex;
    justify-content: space-between;

}