html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.vertical-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.vertical-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

table {
    border-collapse: collapse; /* Removes spacing between table cells */
    width: 50%; /* Adjust as needed */
}

th, td {
    border: 1px solid black; /* Puts a border around each cell */
    padding: 10px; /* Adds space inside each cell */
    text-align: center; /* Centers the content in each cell */
}