<h1 class="text-danger">Error Detected:400</h1>
<h2>The Error Handler Detected a Bad Request on the User Side</h2>
<h2>You will be redirected to home page in 15 seconds</h2>

<script>
    setTimeout(function () {
        window.location.href = '/users/login';
    }, 15000); // 15 seconds
</script>