@model Camp
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/css/MintTheme.css">
</head>

<div style ="margin-top:50px;"class ="col-md-6 offset-lg-3 align-middle">
    <h1 class="d-flex justify-content-center">Are you sure you want to delete @Model.Title?</h1>
    <form class="d-flex justify-content-center" method="post" action="/camps/@Model.Id/delete">
        <button type="submit" class="btn btn-danger" fdprocessedid="r7n6ym">Disban @Model.Title</button>
    </form>
    <form class="d-flex justify-content-center" method="get" action="/camps/@Model.Id">
        <button type="submit" class="btn btn-success" fdprocessedid="r7n6ym">On Second thought. . .</button>
    </form>
</div>

