<head>
    <link rel="stylesheet" href="/css/MintTheme.css">
</head>

<div class="col-md-6 offset-lg-3 align-middle"> 
    <h1 class=" d-flex justify-content-center ">Create Camp</h1>
    <form method="post" action="/camps/create">
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" id="taskname" name="Title" maxlength="50" placeholder="Camp Title" required fdprocessedid="wval2n">
        </div>
        <br />
        <div class="form-group">
            <textarea class="form-control" id="description" rows="5" maxlength="255" placeholder="Description" name="Description" required></textarea>
        </div>
        <br />
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success" fdprocessedid="r7n6ym">Create Camp</button>
        </div>
    </form>
    <br />
    <div class="d-flex justify-content-center">
        <a href="/camps">Cancel</a>
    </div>

</div>
