@model Camp

<h1>@Model.Title's Home</h1>
@{
    foreach(var message in Model.MessageBoard)
    {
        <h5>@message.Content</h5>
        <p>~@message.User.Username</p>
    }
}
<form class="d-flex" method = "post" action = "/camps/@Model.Id/addMessage">
    <input class="form-control me-sm-2" type="search" name="message" placeholder="Add Message . . .">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Post</button>
</form>