@{
    bool? failedLogin = TempData["FailedLogin"] as bool?;
    Layout = null;
}

<h1>Sign up</h1>
<form method = "post" action ="/users/create">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" required/>
    </div>
    <div class="form-group">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" required />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password" required />
    </div>
    <button type ="submit">Sign up</button>
    @if (failedLogin == true)
    {
        <p class="text-danger">Account with that Username already exsists</p>
    }
</form>
<p>already have an account? <a href="/users/login">login</a></p>

