@model User
@{
    bool? failedLogin = TempData["FailedLogin"] as bool?;
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/MintTheme.css">
</head>

<div class ="col-md-6 offset-lg-3 align-middle" style="margin-top: 50px">
    <h2 class=" d-flex justify-content-center ">LevelUp Sign up</h2>
    <form method="post" action="/users/create">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Username">Username:</label>
            <input asp-for="Username" type="text" class="form-control" id="Username" name="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="FavoriteAnimal">Favorite Animal:</label>
            <input asp-for="FavoriteAnimal" type="text" class="form-control" id="FavoriteAnimal" name="FavoriteAnimal" />
            <span asp-validation-for="FavoriteAnimal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password:</label>
            <input asp-for="Password" type="password" class="form-control" id="Password" name="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-primary d-flex justify-content-center align-middle" fdprocessedid="n78ig">Create Account</button>
        </div>        
        @if (failedLogin == true)
        {
            <p class="text-danger">Account with that Username already exsists</p>
        }
    </form>
   
    <a href="/users/login" class=" d-flex justify-content-center ">already have an account?</a>
     
</div>
