@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img id="tutorial-img" />
<form method="GET" action="/tasks/subscribe">
<button onclick="nextslide()" type="button" id="nextButton">Next</button>
</form>
<script>
    var i = 0;
    const slideLinks = [];
    slideLinks.push("TutorialImages/ProfileTutorial.png", "TutorialImages/TasksTutorial.png",
    "TutorialImages/SubscribeTaskTutorial.png", "TutorialImages/CreateTaskTutorial.png",
    "TutorialImages/CampsTutorial.png");
    nextslide()
    function nextslide(){
        document.getElementById("tutorial-img").src = slideLinks[i];
        i ++;
        console.log(i);
        if (i > slideLinks.length){
            document.getElementById("nextButton").onclick = "";
            document.getElementById("nextButton").type = "submit";
        }
    }
</script>